{% extends 'layouts/app.html.twig' %}
{% block content %}
    <h1 class="text-2xl font-bold">Wallets</h1>

    <table class="border-separate border border-slate-550">
        <thead>
        <tr>
            <th class="border border-slate-650">Symbol</th>
            <th class="border border-slate-650">Amount</th>
            <th class="border border-slate-650">Average price</th>
        </tr>
        </thead>
        <tbody>
        {% for wallet in wallets %}
            <tr>
                <td class="border border-slate-650"><a href="/currencies/{{ wallet.symbol }}">{{ wallet.symbol }}</a>
                </td>
                <td class="border border-slate-650">{{ wallet.amount }}</td>
                <td class="border border-slate-650">${{ wallet.averagePrice|number_format(2, '.', ' ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}