<form action="/currencies/{{ currency.symbol }}/sell" method="POST">
    <div>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" name="quantity" required class="shadow">
    </div>
    <button type="submit" class="bg-sky-500 hover:bg-sky-700">Sell</button>
</form>