{% include 'layouts/app.html.twig' %}
<body>
<h1>Currency</h1>
<h1>Currency Details</h1>
<p>Name: {{ currency.getName() }}</p>
<p>Symbol: {{ currency.getSymbol() }}</p>
<p>Price: {{ currency.getPrice()|number_format(2, '.', ' ') }}</p>

<h2>Buy Currency</h2>
{% include 'buy.html.twig' %}

</body>
</html>