{% extends 'layouts/app.html.twig' %}

{% block content %}
    <h1 class="text-2xl font-bold">Transactions</h1>

    <table class="border-separate border border-slate-550">
        <thead>
        <tr>
            <th class="border border-slate-650">Kind</th>
            <th class="border border-slate-650">Symbol</th>
            <th class="border border-slate-650">Price</th>
            <th class="border border-slate-650">Quantity</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td class="border border-slate-650">{{ transaction.kind }}</td>
                <td class="border border-slate-650">{{ transaction.symbol }}</td>
                <td class="border border-slate-650">${{ transaction.price|number_format(2, '.', ' ') }}</td>
                <td class="border border-slate-650">{{ transaction.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}