{% include 'header.html.twig' %}
<body>
<h1>Currencies</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for currency in currencies %}
        <tr>
            <td>{{ currency.getName() }}</td>
            <td>{{ currency.getSymbol() }}</td>
            <td>{{ currency.getPrice()|number_format(2, '.', '') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>