{% include 'header.html.twig' %}
<body>
<h1>Currency</h1>
<h1>Currency Details</h1>
<p>Name: {{ currency.getName() }}</p>
<p>Symbol: {{ currency.getSymbol() }}</p>
<p>Price: {{ currency.getPrice()|number_format(2, '.', '') }}</p>
</body>
</html>